* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/*body {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

a {
  text-decoration: none;
  color: #303030;
}

a:visited {
  color: #303030;
}

a:hover {
  /*color: #909090;*/
  text-decoration: #D62130 underline;
}

li {
  list-style: none;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  color: #303030;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  color: #303030;
}

::selection {
  background: #D62130;
  color: white;
}