.weekly-overview {
    background-color: white;
    padding: 20px 0 50px 0;
    /*width: 60%;*/
    /*margin: 0 auto;*/
}

.weekly-overview table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 50px;
}

.weekly-overview table thead tr {
    color: black;
}

.weekly-overview table thead tr th {
    color: black;
    font-size: 32px;
    font-weight: normal;
    padding: 18px;
    border-bottom: 3px solid #D51F2F;
}

.weekly-overview tr td:nth-child(1) {
    /*text-align: right;*/
}

.weekly-overview tr td:nth-child(5) {
    width: 10%;
    /*text-align: left;*/
}

.weekly-overview th,
.weekly-overview td {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.weekly-overview table tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}

.weekly-overview .icon {
    color: #D62130;
    padding: 0;
    margin: auto 0;
}

.weekly-overview tfoot td {
    font-size: 32px;
    border-top: 3px solid #D51F2F;
}

.weekly-overview tr:hover td {
    background-color: #D51F2F;
    color: rgb(255, 255, 255);
}

.weekly-overview tr:hover td a {
    color: rgb(255, 255, 255);
}

.weekly-overview tr:hover td a:hover {
    font-weight: bold;
}

.weekly-overview .icon:hover {
    color: white;
}

.weekly-overview svg {
    position: relative;
    top: 2px;
}