.content-wrapper .project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    background-color: white;
}

.content-wrapper .project-info h2 {
    font-size: 24px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

.content-wrapper .project-info table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.content-wrapper th,
.content-wrapper td {
    padding: 10px;
    font-size: 14px;
}

.content-wrapper tr td:nth-child(1) {
    width: 40%;
}

.content-wrapper table thead tr {
    background-color: #D62130;
    color: #ffffff;
    text-align: left;
}

.content-wrapper table tbody tr {
    border: 1px solid #DDDDDD;
}

.content-wrapper table tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}