header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url("../images/background.png");*/
    /*background-color: #FAFAFA;*/
    background-size: cover;
    padding: 20px;
}

header h1 {
    margin: 0;
    padding: 20px;
}