.content-wrapper {
    display: flex;
    margin: 0 20px 20px 20px;
}

.content-wrapper .projects-list {
    flex-basis: 40%;
    overflow-y: scroll;
    height: 500px;
    /*margin-left: 20px;*/
}

/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    -webkit-border-radius: 10px;*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*background: #303030;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/

/*::-webkit-scrollbar-thumb:window-inactive {*/
/*    background: rgba(255,0,0,0.4);*/
/*}*/

.content-wrapper .project-accordion {
    background-color: white;
    color: #303030;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 32px;
    transition: 0.4s;
    /*border-top: 1px solid #D51F2F;*/
}

.content-wrapper .active, .project-accordion:hover {
    /*background-color: #EC9CA3;*/
    color: white;
    background-color: #D62130;
    text-decoration: none;
}

.content-wrapper .project-panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.content-wrapper .project-panel ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

.content-wrapper .project-panel ul {
    margin: 20px 0;
}

.content-wrapper .project-panel ul li {
    font-size: 18px;
    margin: 15px 0;
    text-align: left;
}

.content-wrapper .project-info .message {
    margin: auto auto;
    text-align: center;
}

.content-wrapper .project-info .message p {
    margin: 20px;
    font-size: 32px;
}

.content-wrapper .project-info .message p span {
    color: #D62130;
    font-weight: bold;
}

.content-wrapper table tbody tr {
    /*border: 0.5px solid #DDDDDD;*/
}

.no-tasks-yet {
    text-align: center;
    padding: 100px;
    background-color: white;
}

.no-tasks-yet span{
    font-weight: bold;
}

