.user-weekly-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}

.user-weekly-info table {
    width: 65%;
    border-collapse: collapse;
    margin: 30px auto 50px auto;
    /*margin: 50px auto 50px auto;*/
}

/*.user-weekly-info table th:nth-child(4) {*/
/*    text-align: center;*/
/*}*/

.user-weekly-info table tr td:nth-child(4) {
    width: 20%;
    margin: 0 auto;
}

.user-weekly-info table thead tr th {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: normal;
    padding: 18px;
    border-bottom: 2px solid #D62130;
}

.user-weekly-info thead tr:hover th {
    background-color: #D62130;
    color: rgb(255, 255, 255);
}

/*.user-weekly-info table thead {*/
/*    display: none;*/
/*}*/

/*.user-weekly-info tbody tr:first-child {*/
/*    border-top: 2px solid #D62130;*/
/*}*/

.user-weekly-info tbody tr:last-child {
    border-bottom: 2px solid #D62130;
}

.user-weekly-info table tbody tr:nth-child(even) {
    background-color: #F3F3F3;
}

.user-weekly-info table td {
    padding: 10px 20px;
    font-size: 16px;
}

.user-weekly-info tr:hover td,
.user-weekly-info tr:hover td a,
.user-weekly-info tr:hover td ul li {
    background-color: #D62130;
    color: rgb(255, 255, 255);
}

.user-weekly-info tr:hover td a,
.user-weekly-info tr:hover td ul li {
    cursor: pointer;
}

.user-status-icons {
    display: flex;
    justify-content: center;
}

.user-status-icons li {
    color: #D62130;
    padding: 0 10px;
    margin: auto 0;
}

/*.user-weekly-info th {*/
/*    width: calc(100%/4)*/
/*}*/

.no-tasks {
    text-align: center;
    padding: 100px;
    background-color: white;
}

.no-tasks span {
    font-weight: bold;
}
