.search-wrapper {
    width: 100%;
    min-height: 50vh;
    background-color: white;
}

.search-result {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 60px auto;
}

.search-result .result-card {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid #D62130;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    word-wrap: anywhere
}
