.search-wrapper {
    width: 100%;
    min-height: 50vh;
    background-color: white;
}

.search-bar {
    width: 400px;
    margin: 60px auto;
    text-align: center;
    border: none;
}

.search-result {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 60px auto;
}

.search-result .client {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid #D62130;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}